h1{
    color:rgba(11, 82, 235, 0.699)
    font-weight:bolder ;
}
.container{
    margin:50px auto;
    width: 350px;
    padding:15px;
    background-color:black;
    border-radius: 20px;
    border: 2px solid grey;
    box-shadow: 20px 20px 20px black;
}
input{
    padding:8px 5px;
    width:100%;
    font-size:38px;
    border-radius:15px;
    border:none;
    outline:none;
    color:grey;
    box-sizing: border-box;
    margin-bottom:25px;
}
.row{
    display:flex;
    justify-content: space-between;
    margin:5px;
}
button{
    font-size: 35px;
    width:60px;
    height: 60px;
    border-radius:50%;
    object-fit: cover;
    border:none;
    margin:5px;
    display:flex;
    align-items:center;
    justify-content: center;
    font-weight: 40px;
    color:black;
    cursor:pointer;
}

.btn{
    background-color:  tomato;
}
.voilet{
    background-color:tomato;
}
.red{
    background-color:tomato;
}
button:hover{
    background-color: rgb(108, 105, 105);
}
.btn:hover{
    background-color: rgb(84, 138, 84);
}

.red:hover{
    background-color: rgb(238, 171, 89); 
}
.voilet:hover{
    background-color: rgb(238, 171, 89);
}

